{
  "app": {
    "memoryDir": "/absolute/path/to/yuiju/memory"
  },
  "database": {
    "mongoUri": "mongodb://localhost:27017/yuiju?authSource=admin",
    "redisUrl": "redis://localhost:6379"
  },
  "llm": {
    "models": {
      "chat": [
        {
          "baseUrl": "https://api.siliconflow.cn/v1",
          "apiKey": "xxx",
          "model": "Qwen/Qwen3-8B",
          "supportsJsonSchema": true
        }
      ],
      "strong": [
        {
          "baseUrl": "https://api.siliconflow.cn/v1",
          "apiKey": "xxx",
          "model": "deepseek-ai/DeepSeek-V3.2"
        }
      ],
      "flash": [
        {
          "baseUrl": "https://api.siliconflow.cn/v1",
          "apiKey": "xxx",
          "model": "MiniMaxAI/MiniMax-M2.5"
        }
      ],
      "vision": [
        {
          "baseUrl": "https://api.siliconflow.cn/v1",
          "apiKey": "xxx",
          "model": "Qwen/Qwen3.5-397B-A17B"
        }
      ]
    }
  },
  "message": {
    "web": {
      "enabled": false,
      "ownerId": "web-user",
      "ownerName": "主人"
    },
    "proactive": {
      "onebotGroupTargetId": 838986741,
      "larkGroupTargetId": "xxx"
    },
    "onebot": {
      "selfId": "xxx",
      "endpoint": "ws://localhost:3001",
      "token": "xxx",
      "whiteList": [1918418506],
      "ownerList": [1918418506],
      "groupWhiteList": [838986741, 1083608109]
    },
    "lark": {
      "appId": "xxx",
      "appSecret": "xxx"
    }
  }
}
