import { defineYuijuConfig } from "./packages/utils/src/config/config-schema";

const config = defineYuijuConfig({
  app: {
    publicDeployment: false,
    timezone: "Asia/Shanghai",
    memoryDir: "~/.local/share/yuiju/memory",
  },
  database: {
    mongoUri: "mongodb://localhost:27017/yuiju?authSource=admin",
    redisUrl: "redis://localhost:6379",
  },
  llm: {
    deepseekApiKey: "xxx",
    siliconflowApiKey: "xxx",
    models: {
      small: [
        {
          baseUrl: "https://api.siliconflow.cn/v1",
          apiKey: "xxx",
          model: "Qwen/Qwen3-8B",
        },
      ],
      strong: [
        {
          baseUrl: "https://api.siliconflow.cn/v1",
          apiKey: "xxx",
          model: "deepseek-ai/DeepSeek-V3.2",
        },
      ],
      flash: [
        {
          baseUrl: "https://api.siliconflow.cn/v1",
          apiKey: "xxx",
          model: "MiniMaxAI/MiniMax-M2.5",
        },
      ],
      vision: [
        {
          baseUrl: "https://api.siliconflow.cn/v1",
          apiKey: "xxx",
          model: "Qwen/Qwen3.5-397B-A17B",
        },
      ],
    },
  },
  message: {
    internalApi: {
      host: "127.0.0.1",
      port: 3020,
    },
    proactive: {
      groupTargetId: 838986741,
    },
    napcat: {
      protocol: "ws",
      host: "localhost",
      port: 3001,
      accessToken: "xxx",
      reconnection: {
        enable: true,
        attempts: 10,
        delay: 5000,
      },
    },
    whiteList: [1918418506],
    groupWhiteList: [838986741, 1083608109],
    stickers: {
      crying: {
        uri: "packages/source/picture/crying.png",
        description:
          "角色眼泪像瀑布一样往下掉，嘴巴大张，双手缩在身前，整个人是彻底绷不住的爆哭状态。",
      },
      sobbing: {
        uri: "packages/source/picture/sobbing.png",
        description: "角色闭着眼大哭，眼角挂着泪珠，嘴巴张大，像是一边呜呜哭一边委屈地倾诉。",
      },
      dizzy: {
        uri: "packages/source/picture/dizzy.png",
        description:
          "角色双眼变成圈圈，头边还有打转的线条和飘动的小纸片，表现出头晕、发懵、被转得找不着北。",
      },
      hmph: {
        uri: "packages/source/picture/hmph.png",
        description: "角色鼓着脸、撅着嘴，头顶冒着气，整张脸写满了不服气和闷闷的小情绪。",
      },
      freaking_out: {
        uri: "packages/source/picture/freaking_out.png",
        description:
          "角色张大嘴巴、握起拳头，整个人像是急得跳脚，带着抓狂、炸毛、情绪一下子冲上来的感觉。",
      },
      // awkward: {
      //   uri: "packages/source/picture/awkward.png",
      //   description:
      //     "角色眼神发直、额头挂着大滴冷汗，整体透出一种典型的“😅”式无语感，像是被整不会了、接不上话，只能尴尬地愣住。",
      // },
      flustered: {
        uri: "packages/source/picture/flustered.png",
        description:
          "角色双眼泛红、脸部紧绷，头边垂着一滴大汗，身体姿态显得僵硬拘谨，传达出紧张到不知所措、局促不安的慌乱感。",
      },
    },
  },
});

export default config;
